@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
body,
p {
  margin: 0;
}

body {
  font-family: "Pretendard-Regular", normal;
  background: radial-gradient(
    96.74% 276.79% at 3.59% 5.28%,
    #f0f4ff 0%,
    #a5b6ee 100%
  );
}

header,
main,
footer {
  text-align: center;
}

header {
  padding: 72px 0px 60px 0px;
}

footer {
  padding: 60px 0px 103px 0px;
}

main,
.time-zone {
  display: flex;
  justify-content: center;
}

.time-wrap {
  width: 400px;
  height: 360px;
  background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
  box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
  border-radius: 16px;
  margin: 0 10px 0 10px;
}

h2 {
  padding: 48px 0 23px 0;
  font-size: 24px;
  color: #ffffff;
}

.line {
  display: inline-block;
  width: 312px;
  height: 1px;
  background: #3d538a;
}

.time-zone {
  padding: 32px 0 40px 0;
}

.hrs-time,
.min-time,
.sec-time {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  background: linear-gradient(314.28deg, #304577 0%, #4c65a0 83%);
  border: 1px solid #354971;
  border-radius: 4px;
}

p {
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #a5b6ee;
}
